@page
@model PayrollCalculator.Web.Pages.PreviewCostModel
@{
    ViewData["Title"] = "Preview Cost";
}

<div class="container">
    <h2 class="mt-4 mb-3">
        @Model.Preview.EmployeeName Benefit Costs
    </h2>
    <div class="row">
        <div class="col-md-8 mb-4">
            <br />
            <div class="control-group form-group">
                <div class="controls">
                    <label asp-for="Preview.EmployeeCost">Employee Cost per Paycheck: @string.Format("{0:C}", @Model.Preview.EmployeeCost)</label>
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label asp-for="Preview.DependentCost">Dependent Cost per Paycheck: @string.Format("{0:C}", @Model.Preview.DependentCost)</label>
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label asp-for="Preview.TotalCost">Final Cost per Paycheck: @string.Format("{0:C}", @Model.Preview.TotalCost)</label>
                </div>
            </div>
        </div>
        <br />
    </div>
    <form asp-page="PreviewCost" method="post">
        <button class="btn btn-dark" asp-page-handler="BackTo">Back</button>
    </form>    
</div>    
